<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Data Visualization Tool</title>
    <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='styles/foundation.css') }}" />
    <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='styles/app.css') }}" />
  </head>
  <body>
    <div id="full-page" class="grid-x grid-margin-x">
      <div id="nav-panel-parent" class="cell small-3">
        <div id="nav-panel" class="grid-y">
          <div id="form-section" class="cell medium-3 large-2">
            <form>
              <div id="domain">
                <label class="header">Select Domain:
                  <select>
                    <option value="" disabled selected>Select Domain</option>
                    {% for o in domain_list %}
                      {% if o %}
                        <option value="{{ o }}">{{ o }}</option>
                      {% endif %}
                    {% endfor %}
                  </select>
                </label>
              </div>
              <div id="libraries">
              </div>
              <div id="metrics">
                <label class="header">Select Metrics:</label>
                <select>
                  <option value="" selected>None</option>
                  <option value="backwards-compatibility">Backwards Compatibility</option>
                  <option value="issue-closing-time">Issue Closing Time</option>
                  <option value="issue-response-time">Issue Response Time</option>
                  <option value="last-discussed-on-so">Last Discussed on Stack Overflow</option>
                  <option value="last-modification-date">Last Modification Date</option>
                  <option value="performance">Performance</option>
                  <option value="popularity">Popularity</option>
                  <option value="release-frequency">Release Frequency</option>
                  <option value="security">Security</option>
                </select>
                <select>
                  <option value="" selected>None</option>
                  <option value="backwards-compatibility">Backwards Compatibility</option>
                  <option value="issue-closing-time">Issue Closing Time</option>
                  <option value="issue-response-time">Issue Response Time</option>
                  <option value="last-discussed-on-so">Last Discussed on Stack Overflow</option>
                  <option value="last-modification-date">Last Modification Date</option>
                  <option value="performance">Performance</option>
                  <option value="popularity">Popularity</option>
                  <option value="release-frequency">Release Frequency</option>
                  <option value="security">Security</option>
                </select>
                <select>
                  <option value="" selected>None</option>
                  <option value="backwards-compatibility">Backwards Compatibility</option>
                  <option value="issue-closing-time">Issue Closing Time</option>
                  <option value="issue-response-time">Issue Response Time</option>
                  <option value="last-discussed-on-so">Last Discussed on Stack Overflow</option>
                  <option value="last-modification-date">Last Modification Date</option>
                  <option value="performance">Performance</option>
                  <option value="popularity">Popularity</option>
                  <option value="release-frequency">Release Frequency</option>
                  <option value="security">Security</option>
                </select>
                <select>
                  <option value="" selected>None</option>
                  <option value="backwards-compatibility">Backwards Compatibility</option>
                  <option value="issue-closing-time">Issue Closing Time</option>
                  <option value="issue-response-time">Issue Response Time</option>
                  <option value="last-discussed-on-so">Last Discussed on Stack Overflow</option>
                  <option value="last-modification-date">Last Modification Date</option>
                  <option value="performance">Performance</option>
                  <option value="popularity">Popularity</option>
                  <option value="release-frequency">Release Frequency</option>
                  <option value="security">Security</option>
                </select>
              </div>
              <div id="form-button-group" class="button-group">
                <a id="save-button" class="button" disabled>APPLY</a>
                <a id="cancel-button" class="button" disabled>CANCEL</a>
              </div>
            </form>
          </div>
          <div id="history-section" class="cell">
            <label class="header">HISTORY</label>
            <button type="button" class="button" id="show-more"><i class="fas fa-chevron-up"></i> Show More</button>
            <div id="history-cards">
              <div id="history-card0" class="history-card primary disabled"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="cell auto">
        <div id="empty-screen">
          <h1>Welcome To LibEase</h1>
          <h3 style="font-style:italic;">Choosing libraries with ease</h3>
          <br>
          <p>To begin, select a domain, libraries, and metrics.</p>
          <p>Click APPLY to generate your data visualizations!</p>
        </div>
        <div id="visualizations" class="flex-grid-wrapper">
          <div class="flex-grid">
            <div id="viz1" class="visualization">
              <div id="chart1" class="chart">
                <embed type="image/svg+xml" src="" />
                <div class="raw-table"></div>
              </div>
              <div id="viz1-options" class="option-menu" style="display: none;">
                <div id="viz1-options-button-group" class="options-button-group button-group">
                </div>
                <div class="option-menu-button-group button-group">
                  <a id="viz1-apply" class="button">APPLY CHANGES</a>
                  <a id="viz1-cancel" class="button">CANCEL</a>
                </div>
              </div>
              <a id="viz1-button" class="button">
                <i class="fas fa-th-large"></i>
                <span>CHANGE VISUALIZATION</span>
              </a>
            </div>
            <div id="viz2" class="visualization">
              <div id="chart2" class="chart">
                <embed type="image/svg+xml" src="" />
                <div class="raw-table"></div>
              </div>
              <div id="viz2-options" class="option-menu" style="display: none;">
                <div id="viz2-options-button-group" class="options-button-group button-group">
                </div>
                <div class="option-menu-button-group button-group">
                  <a id="viz2-apply" class="button">APPLY CHANGES</a>
                  <a id="viz2-cancel" class="button">CANCEL</a>
                </div>
              </div>
              <a id="viz2-button" class="button">
                <i class="fas fa-th-large"></i>
                <span>CHANGE VISUALIZATION</span>
              </a>
            </div>
            <div id="viz3" class="visualization">
              <div id="chart3" class="chart">
                <embed type="image/svg+xml" src="" />
                <div class="raw-table"></div>
              </div>
              <div id="viz3-options" class="option-menu" style="display: none;">
                <div id="viz3-options-button-group" class="options-button-group button-group">
                </div>
                <div class="option-menu-button-group button-group">
                  <a id="viz3-apply" class="button">APPLY CHANGES</a>
                  <a id="viz3-cancel" class="button">CANCEL</a>
                </div>
              </div>
              <a id="viz3-button" class="button">
                <i class="fas fa-th-large"></i>
                <span>CHANGE VISUALIZATION</span>
              </a>
            </div>
            <div id="viz4" class="visualization">
              <div id="chart4" class="chart">
                <embed type="image/svg+xml" src="" />
                <div class="raw-table"></div>
              </div>
              <div id="viz4-options" class="option-menu" style="display: none;">
                <div id="viz4-options-button-group" class="options-button-group button-group">
                </div>
                <div class="option-menu-button-group button-group">
                  <a id="viz4-apply" class="button">APPLY CHANGES</a>
                  <a id="viz4-cancel" class="button">CANCEL</a>
                </div>
              </div>
              <a id="viz4-button" class="button">
                <i class="fas fa-th-large"></i>
                <span>CHANGE VISUALIZATION</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='js/what-input.js') }}"></script>
    <script src="{{ url_for('static', filename='js/foundation.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/underscore-min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/fontawesome-all.min.js') }}"></script>

    <script>
      $(document).foundation();

      var history_queue = []

      // var getDataFromChart = function() {
      //   var data = {}
      //   var selected_domain = $("#domain :selected")
      //   var selected_libraries = $("#libraries :checked")
      //   var selected_metrics = $("#metrics :selected")
      //
      //   data.read_only = false
      //   data.domain = selected_domain["0"].textContent
      //   data.libraries = []
      //   for(var i = 0; i < selected_libraries.length; ++i) {
      //     if(!_.isEqual(selected_libraries[i].id, "select_all")) {
      //       data.libraries.push(selected_libraries[i].id);
      //     }
      //   }
      //   data.metrics = []
      //   if($("#chart1")["0"].metric) {
      //     data.metrics.push({
      //       "metric": $("#chart1")["0"].metric,
      //       "chart_type": $("#chart1")["0"].chart_type
      //     });
      //   }
      //   if($("#chart2")["0"].metric) {
      //     data.metrics.push({
      //       "metric": $("#chart2")["0"].metric,
      //       "chart_type": $("#chart2")["0"].chart_type
      //     });
      //   }
      //   if($("#chart3")["0"].metric) {
      //     data.metrics.push({
      //       "metric": $("#chart3")["0"].metric,
      //       "chart_type": $("#chart3")["0"].chart_type
      //     });
      //   }
      //   if($("#chart4")["0"].metric) {
      //     data.metrics.push({
      //       "metric": $("#chart4")["0"].metric,
      //       "chart_type": $("#chart4")["0"].chart_type
      //     });
      //   }
      //   return data;
      // }

      var getData = function () {
        var data = {}

        var selected_domain = $("#domain :selected")
        var selected_libraries = $("#libraries :checked")
        var selected_metrics = $("#metrics :selected")

        data.read_only = false
        data.domain = selected_domain["0"].textContent
        data.libraries = []
        for(var i = 0; i < selected_libraries.length; ++i) {
          if(!_.isEqual(selected_libraries[i].id, "select_all")) {
            data.libraries.push(selected_libraries[i].id);
          }
        }
        data.metrics = []
        for(var i = 0; i < selected_metrics.length; ++i) {
          if(selected_metrics[i].value != "") {
            if(_.isEqual($("#chart1")["0"].metric, selected_metrics[i].value)) {
              data.metrics.push({
                "metric": $("#chart1")["0"].metric,
                "chart_type": $("#chart1")["0"].chart_type
              });
            } else if(_.isEqual($("#chart2")["0"].metric, selected_metrics[i].value)) {
              data.metrics.push({
                "metric": $("#chart2")["0"].metric,
                "chart_type": $("#chart2")["0"].chart_type
              });
            } else if(_.isEqual($("#chart3")["0"].metric, selected_metrics[i].value)) {
              data.metrics.push({
                "metric": $("#chart3")["0"].metric,
                "chart_type": $("#chart3")["0"].chart_type
              });
            } else if(_.isEqual($("#chart4")["0"].metric, selected_metrics[i].value)) {
              data.metrics.push({
                "metric": $("#chart4")["0"].metric,
                "chart_type": $("#chart4")["0"].chart_type
              });
            } else {
              data.metrics.push({
                "metric": selected_metrics[i].value,
                "chart_type": {{ default_dict|tojson }}[selected_metrics[i].value]
              });
            }
          }
        }

        return data;
      }

      var resetNavPanel = function(last_history) {
        // change domain back
        if(last_history) {
          $("#domain > label > select").val(last_history.domain).change();
        } else {
          $("#domain > label > select").val("").change();
        }

        // change libraries back
        if(last_history) {
          var libraries = []
          $("#libraries > label > div > input").each(function(i) {
            if(!_.isEqual($(this)["0"].id, "select_all")) {
              libraries.push($(this)["0"].id);
            }
          });
          if(!_.isEqual(libraries, last_history.libraries)) {
            $("#libraries > label > div > input").prop("checked", false);
          }
          for(var i = 0; i < last_history.libraries.length; ++i) {
            $("#" + last_history.libraries[i]).prop("checked", true);
          }
        } else {
          $("#libraries").empty()
        }

        $("#metrics > select").each(function(i) {
          if(!last_history || i >= last_history.metrics.length) {
            $(this).val("").change()
          } else {
            $(this).val(last_history.metrics[i].metric).change()
          }
        });
      }

      $("#cancel-button").click(function() {
        if(!$(this).attr('disabled')) {
          var data = getData();

          var last_history = history_queue[0]
          if(!_.isEqual(last_history, data)) {
            resetNavPanel(last_history)
          }
        }
        var data = getData()
        var last_history = history_queue[0]
        if(_.isEqual(last_history, data) || (_.isEqual(data.domain, "Select Domain") && data.libraries.length == 0 && data.metrics.length == 0)) {
          $("#cancel-button").attr("disabled", true);
        } else {
          $("#cancel-button").attr("disabled", false);
        }
      });

      var generateOneChart = function(data, index) {
        $.ajax({
         type: "POST",
         contentType: 'application/json',
         url: "/generate_one_chart",
         data: JSON.stringify(data),
         dataType: 'json'
       }).done(function(data) {
         $("#empty-screen").css({"display":"none"});
         $("#visualizations").css({"display":"inline-block"});
         if(_.isEqual(data.type, "chart")) {
           $("#chart" + index + " > embed").prop("src", data.data);
           $("#chart" + index + " > embed").css({"display": "inline-block"});
           $("#chart" + index + " > div").css({"display": "none"});
         } else if (_.isEqual(data.type, "raw_data")) {
           $("#chart" + index + " > div").css({"display": "inline-block"});
           $("#chart" + index + " > embed").css({"display": "none"});
           $("#chart" + index + " > div").empty()
           $("#chart" + index + " > div").append(data.data);
         }
         $("#chart" + index).css({"display":"inline-block"});
         $("#chart" + index).prop("metric", data.metric);
         $("#chart" + index).prop("chart_type", data.chart_type);
       }).fail(function(xhr, status, error) {
         console.log(error);
       });
      }

      var generateCharts = function(data) {
        $.ajax({
         type: "POST",
         contentType: 'application/json',
         url: "/generate_chart",
         data: JSON.stringify(data),
         dataType: 'json'
        }).done(function(data) {
          $("#empty-screen").css({"display":"none"});
          $("#visualizations").css({"display":"inline-block"});
          for(var i = 1; i < data.length + 1; ++i) {
            if(_.isEqual(data[i - 1].type, "chart")) {
              $("#chart" + i + " > embed").prop("src", data[i - 1].data);
              $("#chart" + i + " > embed").css({"display": "inline-block"});
              $("#chart" + i + " > div").css({"display": "none"});
            } else if (_.isEqual(data[i - 1].type, "raw_data")) {
              $("#chart" + i + " > div").css({"display": "inline-block"});
              $("#chart" + i + " > embed").css({"display": "none"});
              // THIS IS WHERE WE WILL PUT THE TABLE
              $("#chart" + i + " > div").append(data);
            }
            $("#viz" + i).css({"display":"inline-block"});
            $("#chart" + i).css({"display":"inline-block"});
            $("#chart" + i).prop("metric", data[i - 1].metric);
            $("#chart" + i).prop("chart_type", data[i - 1].chart_type);

            switch(data.length) {
              case 1:
                $("#viz" + i).css({"height": "calc(100% - 10px)", "width": "calc(100% - 10px - 1px)"});
                break;
              case 2:
                $("#viz" + i).css({"height": "calc(100% * (1/2) - 10px)", "width": "calc(100% - 10px - 1px)"})
                break;
              case 3:
              case 4:
                $("#viz" + i).css({"height": "calc(100% * (1/2) - 10px)", "width": "calc(100% * (1/2) - 10px - 1px)"})
                break;
            }
          }

          for(var i = data.length + 1; i <= 4; ++i) {
            $("#viz" + i).css({"display":"none"});
          }
        }).fail(function(xhr, status, error) {
          console.log(error);
        });
      }

      $("#save-button").click(function() {
        if(!$(this).attr('disabled')) {
          // set dictionary of current settings
          var data = getData()

          // update history
          updateHistoryQueue(data)
          showLatestHistoryData()

          // generate charts
          generateCharts(data)
          showChart(1);
          showChart(2);
          showChart(3);
          showChart(4);
        }
      });

      // on domain change show correct libraries and disable save if needed
      $('#domain').on('change', function (e) {
        var optionSelected = $("option:selected", this);
        var valueSelected = $("option:selected")["0"].value;
        var library_list = {{ domain_dict|tojson }}[valueSelected].sort();

        var data = getData()
        var last_history = history_queue[0]
        if(_.isEqual(last_history, data) || (_.isEqual(data.domain, "Select Domain") && data.libraries.length == 0 && data.metrics.length == 0)) {
          $("#cancel-button").attr("disabled", true);
        } else {
          $("#cancel-button").attr("disabled", false);
        }

        // empty #libraries and append all library checkboxes
        $("#libraries").empty()
        $("#libraries").append("<label class=\"header\">Select Libraries:</label>");
        $("#libraries").append("<label for=\"select_all\" style=\"margin-bottom:5px;font-style:italic\"><div><input id=\"select_all\" type=\"checkbox\" checked>Select All</div></label>");
        for(var i = 0; i < library_list.length; ++i) {
          $("#libraries").append(
            "<label for=\"" + library_list[i] +"\">" +
              "<div>" +
                "<input id=\"" + library_list[i] + "\" type=\"checkbox\" checked>" +
                  library_list[i] +
              "</div>" +
            "</label>");
        }

        $("#select_all").on('change', function() {
          var checkboxes = $("#libraries").find(':checkbox');
          var is_checked = $(this).is(':checked');
          checkboxes.prop('checked', is_checked);
        });

        $(':checkbox').on('change', function() {
          if($(this)["0"].id != "select_all") {
            var checkboxes = $("#libraries").find(':checkbox');
            var checked_checkboxes = $('#libraries').find('input:checked');
            if(checkboxes.length != checked_checkboxes.length) {
              $("#select_all").prop('checked', false);
            }
          }
        });

        var selected_libraries = $("#libraries :checked");
        var metrics = $("#metrics :selected");
        var selected_metrics = [];
        for(var i = 0; i < metrics.length; ++i) {
          if(metrics[i].value != "") {
            selected_metrics.push(metrics[i]);
          }
        }
        if(selected_libraries.length != 0 && selected_metrics.length != 0) {
          $('#save-button').attr('disabled', false);
        } else {
          $('#save-button').attr('disabled', true);
        }
      });

      // on library change disable save if needed
      $("#libraries").on('change', function(e) {
        var data = getData()
        var last_history = history_queue[0]
        if(_.isEqual(last_history, data) || (_.isEqual(data.domain, "Select Domain") && data.libraries.length == 0 && data.metrics.length == 0)) {
          $("#cancel-button").attr("disabled", true);
        } else {
          $("#cancel-button").attr("disabled", false);
        }

        var selected_libraries = $("#libraries :checked");
        var metrics = $("#metrics :selected");
        var selected_metrics = [];
        for(var i = 0; i < metrics.length; ++i) {
          if(metrics[i].value != "") {
            selected_metrics.push(metrics[i]);
          }
        }
        if(selected_libraries.length != 0 && selected_metrics.length != 0) {
          $('#save-button').attr('disabled', false);
        } else {
          $('#save-button').attr('disabled', true);
        }
      });

      // on metric change disable save if needed
      $("#metrics").on('change', function(e) {
        var data = getData()
        var last_history = history_queue[0]
        if(_.isEqual(last_history, data) || (_.isEqual(data.domain, "Select Domain") && data.libraries.length == 0 && data.metrics.length == 0)) {
          $("#cancel-button").attr("disabled", true);
        } else {
          $("#cancel-button").attr("disabled", false);
        }

        var selected_libraries = $("#libraries :checked");
        var metrics = $("#metrics :selected");
        var selected_metrics = [];
        for(var i = 0; i < metrics.length; ++i) {
          if(metrics[i].value != "") {
            selected_metrics.push(metrics[i]);
          }
        }
        if(selected_libraries.length != 0 && selected_metrics.length != 0) {
          $('#save-button').attr('disabled', false);
        } else {
          $('#save-button').attr('disabled', true);
        }
      });

      var showOptions = function(i) {
        $("#chart" + i).css({"display":"none"});
        $("#viz" + i + "-options").css({"display":"inline-block"});
        $("#viz" + i + "-button").css({"display":"none"});
      }

      var showChartTypes = function(i, metric) {
        var chart_types = {{ chart_types|tojson }}[$("#chart" + i)["0"].metric]
        var data = getData()

        data.read_only = true
        delete data.metrics

        $("#viz" + i + "-options-button-group").empty();
        for(var j = 0; j < chart_types.length; ++j) {
          var add_class = ""
          if(_.isEqual(chart_types[j].key, $("#chart" + i)["0"].chart_type)) {
            add_class = "selected"
          }
          if(!_.isEqual(chart_types[j].key, "raw_data")) {
            data.metric = {
              "metric": metric,
              "chart_type": chart_types[j].key
            }

            generateOptionsChart(i, add_class, chart_types[j], data)
          } else {
            $("#viz" + i + "-options-button-group").append("<a id=\"viz" + i + "-" + chart_types[j].key + "\" class=\"button " + add_class + "\"><h3>RAW DATA</h3></a>")
            $("#viz" + i + "-" + chart_types[j].key).prop("chart_type", chart_types[j].key);
            $("#viz" + i + "-" + chart_types[j].key).on("click", function(e) {
              $(this).addClass('selected').siblings().removeClass('selected');
            });
          }
        }
      }

      var generateOptionsChart = function(i, add_class, chart_type, data) {
        $.ajax({
          type: "POST",
          contentType: 'application/json',
          url: "/generate_one_chart",
          data: JSON.stringify(data),
          dataType: 'json'
        }).done(function(data) {
         $("#viz" + i + "-options-button-group").append("<a id=\"viz" + i + "-" + chart_type.key + "\" class=\"button " + add_class + "\">" + chart_type.readable + "<embed style=\"pointer-events: none;height:calc(100% - 10px);width: 100%;\" type=\"image/svg+xml\" src=\"" + data.data + "\" /></a>")
         $("#viz" + i + "-" + chart_type.key).prop("chart_type", chart_type.key);
         $("#viz" + i + "-" + chart_type.key).on("click", function(e) {
           $(this).addClass('selected').siblings().removeClass('selected');
         });
        }).fail(function(xhr, status, error) {
         console.log(error);
        });
      }

      $("#viz1-button").on("click", function(e) {
        showOptions(1);
        showChartTypes(1, $("#chart1")["0"].metric);
      });

      $("#viz2-button").on("click", function(e) {
        showOptions(2);
        showChartTypes(2, $("#chart2")["0"].metric);
      });

      $("#viz3-button").on("click", function(e) {
        showOptions(3);
        showChartTypes(3, $("#chart3")["0"].metric);
      });

      $("#viz4-button").on("click", function(e) {
        showOptions(4);
        showChartTypes(4, $("#chart4")["0"].metric);
      });

      var showChart = function(i) {
        $("#chart" + i).css({"display":"inline-block"});
        $("#viz" + i + "-options").css({"display":"none"});
        $("#viz" + i + "-button").css({"display":"inline-block"});
      }

      $("#viz1-apply").on("click", function(e) {
        showChart(1);
        $("#chart1").prop("chart_type", $("#viz1-options-button-group").find(".selected")["0"].chart_type)

        // set dictionary of current settings
        var data = getData();

        // update history
        updateHistoryQueue($.extend(true, {}, data));
        if(!$("#history-section").hasClass("expanded")) {
          showLatestHistoryData();
        } else {
          showAllHistoryData();
        }

        delete data.metrics
        data.metric = {
          "metric": $("#chart1").prop("metric"),
          "chart_type": $("#chart1").prop("chart_type")
        }

        data.read_only = false

        generateOneChart(data, 1)
      });

      $("#viz2-apply").on("click", function(e) {
        showChart(2);
        $("#chart2").prop("chart_type", $("#viz2-options-button-group").find(".selected")["0"].chart_type)

        // set dictionary of current settings
        var data = getData();

        // update history
        updateHistoryQueue($.extend(true, {}, data));
        if(!$("#history-section").hasClass("expanded")) {
          showLatestHistoryData();
        } else {
          showAllHistoryData();
        }

        delete data.metrics
        data.metric = {
          "metric": $("#chart2").prop("metric"),
          "chart_type": $("#chart2").prop("chart_type")
        }

        data.read_only = false

        generateOneChart(data, 2)
      });

      $("#viz3-apply").on("click", function(e) {
        showChart(3);
        $("#chart3").prop("chart_type", $("#viz3-options-button-group").find(".selected")["0"].chart_type)

        // set dictionary of current settings
        var data = getData();

        // update history
        updateHistoryQueue($.extend(true, {}, data));
        if(!$("#history-section").hasClass("expanded")) {
          showLatestHistoryData();
        } else {
          showAllHistoryData();
        }

        delete data.metrics
        data.metric = {
          "metric": $("#chart3").prop("metric"),
          "chart_type": $("#chart3").prop("chart_type")
        }

        data.read_only = false

        generateOneChart(data, 3)
      });

      $("#viz4-apply").on("click", function(e) {
        showChart(4);
        $("#chart4").prop("chart_type", $("#viz4-options-button-group").find(".selected")["0"].chart_type)

        // set dictionary of current settings
        var data = getData();

        // update history
        updateHistoryQueue($.extend(true, {}, data));
        if(!$("#history-section").hasClass("expanded")) {
          showLatestHistoryData();
        } else {
          showAllHistoryData();
        }

        delete data.metrics
        data.metric = {
          "metric": $("#chart4").prop("metric"),
          "chart_type": $("#chart4").prop("chart_type")
        }

        data.read_only = false

        generateOneChart(data, 4)
      });

      $("#viz1-cancel").on("click", function(e) {
        showChart(1);
      });

      $("#viz2-cancel").on("click", function(e) {
        showChart(2);
      });

      $("#viz3-cancel").on("click", function(e) {
        showChart(3);
      });

      $("#viz4-cancel").on("click", function(e) {
        showChart(4);
      });

      $("#history-card0").prop("history_queue_index", 0)
      $("#history-card0").on("click", function() {
        if(history_queue.length > 1) {
          var data = getData();

          var last_history = history_queue[0]
          if(_.isEqual(last_history, data) || (_.isEqual(data.domain, "Select Domain") && data.libraries.length == 0 && data.metrics.length == 0)) {
            $("#cancel-button").attr("disabled", true);
          } else {
            $("#cancel-button").attr("disabled", false);
          }

          var last_history = history_queue[1]
          if(!_.isEqual(last_history, data)) {
            resetNavPanel(last_history)
            history_queue.splice(1, 1);
            history_queue.splice(0, 0, last_history);
            showLatestHistoryData();
            generateCharts(last_history)
          }
          if($("#history-section").hasClass("expanded")) {
            collapseHistorySection()
            removeCardsFromQueue()
          }
        }
      });

      var makeHistoryString = function(data) {
        var card_string = "<span><b>Domain:</b> " + data.domain + "</span><br>" +
                          "<span><b>Libraries:</b> "
        for(var j = 0; j < data.libraries.length; ++j) {
          card_string += data.libraries[j]
          if(j < data.libraries.length - 1) {
            card_string += ", "
          }
        }
        card_string += "</span><br><span><b>Metrics:</b><ul>"
        for(var j = 0; j < data.metrics.length; ++j) {
          var chart_type = _.find({{ chart_types|tojson }}[data.metrics[j].metric], function(metric) {return _.isEqual(metric.key, data.metrics[j].chart_type)})
          if(chart_type) {
            chart_type = chart_type.readable
          } else {
            chart_type = data.metrics[j].chart_type
          }
          card_string += "<li>" + data.metrics[j].metric + ", (type: " + chart_type + ")</li>"
        }
        card_string += "</ul></span>"
        return card_string
      }

      var updateHistoryQueue = function(data) {
        if(history_queue.length <= 5 && !_.isEqual(history_queue[0], data)) {
          history_queue.splice(0, 0, data);
        }
        if(history_queue.length > 5) {
          history_queue.splice(history_queue.length - 1, 1);
        }
        if(history_queue.length <= 1) {
          $("#history-card0").addClass("disabled")
        } else {
          $("#history-card0").removeClass("disabled")
        }

        var last_history = history_queue[0]
        if(_.isEqual(last_history, data) || (_.isEqual(data.domain, "Select Domain") && data.libraries.length == 0 && data.metrics.length == 0)) {
          $("#cancel-button").attr("disabled", true);
        } else {
          $("#cancel-button").attr("disabled", false);
        }
      }

      var expandHistorySection = function() {
        $("#history-section").animate({height: '100%',},"slow");
        $("#history-section").addClass("expanded");
        $("#show-more").empty();
        $("#show-more").append("<i class=\"fas fa-chevron-down\"></i> Show Less");
      }

      var collapseHistorySection = function() {
        $("#history-section").animate({height: '210px',},"slow");
        $("#history-section").removeClass("expanded");
        $("#show-more").empty();
        $("#show-more").append("<i class=\"fas fa-chevron-up\"></i> Show More");
      }

      var showLatestHistoryData = function() {
        showHistoryData(1);
      }

      var showHistoryData = function(index) {
        if(index < history_queue.length) {
          var data = history_queue[index]
          var card_string = makeHistoryString(data)
          if($($("#history-cards > div")[index - 1]).length > 0) {
            $($("#history-cards > div")[index - 1]).empty()
            $($("#history-cards > div")[index - 1]).append(card_string)
          } else {
            addNewHistoryCard(data, index)
          }
        }
      }

      var showAllHistoryData = function() {
        for(var i = 2; i < history_queue.length; ++i) {
          showHistoryData(i);
        }
      }

      var addNewHistoryCard = function(data, index) {
        var card_string = makeHistoryString(data)
        $("<div id=\"history-card" + index + "\" class=\"history-card\">" + card_string + "</div>").appendTo("#history-cards").hide().fadeIn(200);
        $("#history-card" + index).prop("history_queue_index", index)
        $("#history-card" + index).on("click", function() {
          var data = getData();
          var i = $(this).prop("history_queue_index")
          var last_history = history_queue[i]
          if(!_.isEqual(last_history, data)) {
            resetNavPanel(last_history)
            collapseHistorySection()
            removeCardsFromQueue()
            history_queue.splice(i, 1);
            history_queue.splice(0, 0, last_history);
            showLatestHistoryData();
            generateCharts(last_history)
          }
        });
      }

      var addCardsFromQueue = function() {
        for(var i = 2; i < history_queue.length; ++i) {
          var data = history_queue[i]
          addNewHistoryCard(data, i)
        }
      }

      var removeCardsFromQueue = function() {
        var to_delete = history_queue.length - 2
        if(to_delete > 0) {
          $("#history-cards > div").slice(-(to_delete)).fadeOut(500, function() {
            $(this).remove();
          });
        }
      }

      // on show more, display history cards in expandable window
      $("#show-more").click(function() {
        if (!$("#history-section").hasClass("expanded")) {
          expandHistorySection();
          addCardsFromQueue();
        } else {
          collapseHistorySection();
          removeCardsFromQueue();
        }
      });
    </script>
  </body>
</html>
