#full-page {
  height: 100vh;
  width: 100vw;
}

#nav-panel-parent {
  background-color: lightgrey;
}

#nav-panel {
  position: relative;
  height: 100%;
}

#form-section {
  background-color: orange;
  height: calc(100% - 150px);
  overflow: auto;
}

#history-section {
  bottom: 0;
  position: absolute;
  background-color: aqua;
  width: 100%;
  height: 150px;
}

label {
  text-overflow: ellipsis;
}

[type='checkbox'] {
  margin: 0px 5px 0px 5px;
}

select {
  margin: 0;
}

#form-section::-webkit-scrollbar {
  width: 0.2em;
}

#form-section::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

#form-section::-webkit-scrollbar-thumb {
  background-color: grey;
  outline: 1px solid grey;
}
