#full-page {
  height: 100vh;
  width: 100vw;
}

#nav-panel-parent {
  background-color: lightgrey;
}

#nav-panel {
  position: relative;
  height: 100%;
}

#form-section {
  background-color: orange;
  height: calc(100% - 150px);
  overflow: auto;
}

#history-section {
  bottom: 0;
  position: absolute;
  background-color: aqua;
  width: 100%;
  height: 150px;
}

label {
  text-overflow: ellipsis;
}

[type='checkbox'] {
  margin: 0px 5px 0px 5px;
}

select {
  margin: 0;
}
